.buttons2 {
  background-color: red;
  border: none;
  padding: 2px;
  display: block;
  margin: auto;
  
}
.buttons3 {
  margin-top: 10px;
  border: none;
  padding: 2px;
  background-color: green;
}